[submodule "信号与系统"]
	path = 信号与系统
	url = git@github.com:JinBridger/SEU-Signal-And-System-Labwork.git
[submodule "操作系统"]
	path = 操作系统
	url = git@github.com:JinBridger/SEU-Operating-System-Labwork.git
[submodule "算法设计与分析/OJ题解代码"]
	path = 算法设计与分析/OJ题解代码
	url = git@github.com:mollnn/47.99.179.148.git
[submodule "算法设计与分析/OJ-1048-题解"]
	path = 算法设计与分析/OJ-1048-题解
	url = git@github.com:JinBridger/SEU-1048-MapDiscovery.git
[submodule "专业技能实训-OpenCV"]
	path = 专业技能实训-OpenCV
	url = https://github.com/Kami-chanw/cv-tools.git
[submodule "专业技能实训-VCampus"]
	path = 专业技能实训-VCampus
	url = git@github.com:JinBridger/SEU-SummerSchool-VCampus.git
[submodule "数据结构/王伟"]
	path = 数据结构/王伟
	url = git@github.com:JinBridger/SEU-DataStructure-CourseLab.git
[submodule "编译原理/张志政"]
	path = 编译原理/张志政
	url = git@github.com:JinBridger/SEU-Compiler-Labwork.git
[submodule "数字图像处理/陈阳"]
	path = 数字图像处理/陈阳
	url = git@github.com:JinBridger/SEU-DIP-Labwork.git
